.head {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .head__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .head__container {
    align-items: center;
    display: flex;
  }
}

.head__logo {
  margin-right: 60px;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: contents;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: opx;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    margin-right: 25px;
  }
}

.nav__link {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: #ffffff;
}

.head__contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .head__contact {
    display: contents;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    text-align: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .head__contact {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .head__btn {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .head__btn {
    margin: 0;
  }
}

.head__tel {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .head__tel {
    margin-right: 20px;
  }
}

.head__tel:hover {
  color: #ff6c00;
}

.nav__link:hover {
  color: #ff6c00;
}

* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  height: auto;
}

body {
  background-color: #89bebe;
}

.btn-white {
  display: block;
  box-sizing: border-box;
  width: 161.67px;
  height: 40px;
  left: 565.33px;
  top: 40px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-white:hover {
  color: #ff6c00;
}

.btn-black {
  display: block;
  box-sizing: border-box;
  width: 161.67px;
  height: 40px;
  left: 565.33px;
  top: 40px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: black;
}

.btn-black:hover {
  color: #ff6c00;
}

.btn-praice {
  margin: 0 auto;
}

.container {
  border: 2px solid red;
  width: 480px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__card {
  display: flex;
}

.photo__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .photo__list {
    display: contents;
  }
}

@media screen and (min-width: 768px) {
  .about__box1 {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .photo__item {
    margin-bottom: 30px;
  }
}

.best-title {
  margin-bottom: 20px;
  width: 330px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.05em;
  color: #303030;
}

.par__when {
  margin-bottom: 20px;
  width: 418px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.02em;
  color: #555555;
}

@media screen and (min-width: 768px) {
  .par__when {
    width: 330px;
  }
}

.par__we {
  margin-bottom: 20px;
  width: 418px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: #555555;
}

@media screen and (min-width: 768px) {
  .par__we {
    width: 330px;
  }
}

.praice {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 20px;
  background-color: grey;
}

.praice__text {
  margin-bottom: 20px;
  width: 418px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: #ffffff;
}

.praice__box {
  padding: 30px;
  margin-bottom: 50px;
  width: 418px;
  height: 440px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.praice__item {
  margin-bottom: 20px;
  width: 418px;
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(30 / 14);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.decor__par {
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 164px;
    padding-bottom: 234px;
    background-image: url("../../");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 208px;
    padding-bottom: 199px;
  }
}

.hero__text {
  width: 349px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 48px;
  line-height: calc(56 / 48);
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero__expert {
  width: 349px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.hero__link + .hero__link {
  margin-right: 40px;
}

.hero__link {
  width: 58px;
  height: 14.2px;
  left: 74.02px;
  top: 428px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #303030;
  transform: rotate(-90deg);
}

.hero__link:hover {
  color: #ff6c00;
}
/*# sourceMappingURL=main.css.map */