.btn {
  box-sizing: border-box;

  //   position: absolute;
  width: 161.67px;
  height: 40px;
  left: 565.33px;
  top: 40px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;
}
